<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <div th:replace="fragments/fragment :: fragment"></div>
</head>
<body>
    <h1>Edit Wager</h1>
    <form action="#" th:action="@{/wager/{id}(id=${wager.id})}" th:object="${wager}" method="post">
        <label for="theBet">The Bet:
        <input type="text" th:field="*{theBet}" th:value="${wager.theBet}" /></label>
        <label for="units">Units:
        <input type="number" step="any" min="0.1" th:field="*{units}" th:value="${wager.units}" /></label>
        <label for="odds">Odds:
        <input type="number" th:field="*{theOdds}" th:value="${wager.theOdds}" /></label>
        <label>Status:</label>
        <select th:field="*{status}">
            <option th:each="statusOpt : ${T(com.jackbets.mybets.status.Status).values()}"
                    th:value="${statusOpt}"
                    th:text="${statusOpt}">
            </option>
        </select>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>