<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Jack Bets Money</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   <div class="container">
    <h1>Wagers</h1>
    <p>Lets make some money!</p>
    <h3>Units: <span th:text="${units}" /></h3>
    <h3>Units Pending: <span th:text="${unitsPending}" /></h3>
    <a href="/new-wager">Add a new wager</a>
    <th:block th:if="${#lists.isEmpty(wagers)}">No wagers have been placed</th:block>
    <table>
        <thead>
            <th>Wager</th>
            <th>Odds</th>
            <th>Units</th>
            <th>To Win</th>
            <th>Status</th>
            <th>Time Placed</th>
        </thead>
        <tbody>
            <tr th:each="wagers, stat : ${#lists.sort(wagers, byTimePlaced)}">
                <td><a th:href="@{/wager/{id}(id=${wagers.id})}" th:text="${wagers.theBet}" /></td>
                <td th:text="${wagers.theOdds}" />
                <td th:text="${wagers.units}" />
                <td th:text="${wagers.toWin}" />
                <td th:text="${wagers.status}" />
                <td th:text="${wagers.timePlaced}" />
            </tr>
        </tbody>
    </table>
   </div> 
</body>
</html>