<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Jack Bets Money</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>New Wager</h1>
    <form action="#" th:action="@{/new-wager}" th:object="${wager}" method="post">
        <p>The Bet: <input type="text" th:field="*{theBet}" /></p>
        <p>Units: <input type="number" th:field="*{units}" /></p>
        <p>Odds: <input type="number" th:field="*{theOdds}" /></p>
        <!-- TODO set status to pending, automatically set time on submit, and calc toWin -->
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>