<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Jack Bets Money</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
    <h1>New Wager</h1>
    <form action="#" th:action="@{/new-wager}" th:object="${new_wager}" method="post">
        <label for="theBet">The Bet:
        <input type="text" th:field="*{theBet}" /></label>
        <label for="units">Units:
        <input type="number" step="any" min="0.1" th:field="*{units}" /></label>
        <label for="odds">Odds:
        <input type="number" th:field="*{theOdds}" /></label>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>