<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <div th:replace="fragments/fragment :: fragment"></div>
</head>
<body>
    <h1>Wager: <span th:text="${wager.theBet}" /></h1>
    <p>Odds: <span th:text="${wager.theOdds}" /></p>
    <p>Units: <span th:text="${wager.units}" /></p>
    <p>To Win: <span th:text="${wager.toWin}" /></p>
    <p>Status: <span th:text="${wager.status}" /></p>
    <p>Category: <span th:text="${wager.category}" /></p>
    <p>Time: <span th:text="${wager.timePlaced}" /></p>
    <a th:href="@{/edit-wager/{id}(id=${wager.id})}">Edit</a> | 
    <a href="/">Home</a>
</body>
</html>